<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'web/base.html' %}

    {% block content %}
        <div class="container mt-5">
        <div class="card p-4 shadow">
            <h3>Register</h3>

            <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button class="btn btn-primary w-100">Register</button>
            </form>
        </div>
        <p>Already have an account?</p>
        <a href="{% url 'login' %}">Login</a>
        </div>
    {% endblock %}

</body>
</html>